[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
selenium = "*"

[scripts]
runserver = "python manage.py runserver"
lists_test = "python manage.py test apps.lists"
functional_tests = "python manage.py test functional_tests"

[requires]
python_version = "3.9"
