[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
selenium = "*"

[scripts]
runserver = "python manage.py runserver"
test = "python manage.py test"
functional_tests = "python functional_tests.py"

[requires]
python_version = "3.9"
